.navbar{
    background-color: #33FFDD;
}
.home{
    background-color: #2D4E48;
    color: white;
}
.margin{
    /*padding-top adiciona margem interna e joga o background pra cima até 'tocar'*/
    padding-top: 15px;
    /*padding-bottom margem abaixo*/
    padding-bottom: 30px;
}
.sobreNos{
    background-color: #F9894A;
    color: white;
}
.parceiros{
    background-color: #0FEC7B;
    color: white;
}
